In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
import pandas as pd

res = pd.read_csv('Details.csv')

res

,Company,Ticker,GICS Sector,GICS Sub-Industry
0,Adobe Inc.,ADBE,Information Technology,Application Software
1,ADP,ADP,Industrials,Human Resource & Employment Services
2,Airbnb,ABNB,Consumer Discretionary,"Hotels, Resorts & Cruise Lines"
3,Align Technology,ALGN,Health Care,Health Care Supplies
4,Alphabet Inc. (Class A),GOOGL,Communication Services,Interactive Media & Services
...,...,...,...,...
96,Warner Bros. Discovery,WBD,Communication Services,Broadcasting
97,"Workday, Inc.",WDAY,Information Technology,Application Software
98,Xcel Energy,XEL,Utilities,Multi-Utilities
99,Zoom Video Communications,ZM,Information Technology,Application Software
100,Zscaler,ZS,Information Technology,Application Software

In [7]:
res_sorted = res[['Company', 'Ticker']].sort_values('Ticker')
res_sorted

                       Company Ticker
12                  Apple Inc.   AAPL
2                       Airbnb   ABNB
0                   Adobe Inc.   ADBE
10              Analog Devices    ADI
1                          ADP    ADP
..                         ...    ...
96      Warner Bros. Discovery    WBD
97               Workday, Inc.   WDAY
98                 Xcel Energy    XEL
99   Zoom Video Communications     ZM
100                    Zscaler     ZS

[101 rows x 2 columns]

In [5]:
nasdaq100_tickers = [
 'AAPL',
 'ABNB',
 'ADBE',
 'ADI',
 'ADP',
 'ADSK',
 'AEP',
 'ALGN',
 'AMAT',
 'AMD',
 'AMGN',
 'AMZN',
 'ANSS',
 'ASML',
 'AVGO',
 'AZN',
 'BIIB',
 'BKNG',
 'BKR',
 'CDNS',
 'CEG',
 'CHTR',
 'CMCSA',
 'COST',
 'CPRT',
 'CRWD',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTSH',
 'DDOG',
 'DLTR',
 'DXCM',
 'EA',
 'EBAY',
 'ENPH',
 'EXC',
 'FANG',
 'FAST',
 'FTNT',
 'GEHC',
 'GFS',
 'GILD',
 'GOOG',
 'GOOGL',
 'HON',
 'IDXX',
 'ILMN',
 'INTC',
 'INTU',
 'ISRG',
 'JD',
 'KDP',
 'KHC',
 'KLAC',
 'LCID',
 'LRCX',
 'LULU',
 'MAR',
 'MCHP',
 'MDLZ',
 'MELI',
 'META',
 'MNST',
 'MRNA',
 'MRVL',
 'MSFT',
 'MU',
 'NFLX',
 'NVDA',
 'NXPI',
 'ODFL',
 'ON',
 'ORLY',
 'PANW',
 'PAYX',
 'PCAR',
 'PDD',
 'PEP',
 'PYPL',
 'QCOM',
 'REGN',
 'ROST',
 'SBUX',
 'SGEN',
 'SIRI',
 'SNPS',
 'TEAM',
 'TMUS',
 'TSLA',
 'TTD',
 'TXN',
 'VRSK',
 'VRTX',
 'WBA',
 'WBD',
 'WDAY',
 'XEL',
 'ZM',
 'ZS']

In [6]:
import yfinance as yf

def get_nasdaq100_market_cap(nasdaq100_tickers):
    market_caps = {}

    for ticker in nasdaq100_tickers:
        try:
            info = yf.Ticker(ticker).info
            symbol = info['symbol']
            market_cap = info['marketCap']
            market_caps[symbol] = market_cap
        except Exception as e:
            print(f"Error fetching data for {ticker}: {e}")

    return market_caps

nasdaq100_market_caps = get_nasdaq100_market_cap(nasdaq100_tickers)

for symbol, market_cap in nasdaq100_market_caps.items():
    print(f"{symbol}: {market_cap}")

AAPL: 2977505738752
ABNB: 85461073920
ADBE: 270543831040
ADI: 90364346368
ADP: 95527641088
ADSK: 46755405824
AEP: 42175254528
ALGN: 16616779776
AMAT: 122493673472
AMD: 189271982080
AMGN: 145498832896
AMZN: 1481482305536
ANSS: 24757878784
ASML: 276381302784
AVGO: 475209236480
AZN: 198979371008
BIIB: 33685886976
BKNG: 108314992640
BKR: 33943205888
CDNS: 70806372352
CEG: 37856350208
CHTR: 58783408128
CMCSA: 172776554496
COST: 265139863552
CPRT: 46753644544
CRWD: 56338018304
CSCO: 194478161920
CSGP: 34608766976
CSX: 65890099200
CTAS: 56174518272
CTSH: 35602829312
DDOG: 38867939328
DLTR: 27910492160
DXCM: 44606238720
EA: 37001658368
EBAY: 21459404800
ENPH: 14673771520
EXC: 38553272320
FANG: 27586957312
FAST: 34561794048
FTNT: 39946678272
GEHC: 31357136896
GFS: 28810604544
GILD: 97440325632
GOOG: 1619660505088
GOOGL: 1619459178496
HON: 130235039744
IDXX: 42446888960
ILMN: 18067470336
INTC: 177662230528
INTU: 158387781632
ISRG: 109272588288
JD: 41229172736
KDP: 44970614784
KHC: 43854938112
KLAC: 72289992704
LCID: 9915979776
LRCX: 92147998720
LULU: 57475551232
MAR: 61018714112
MCHP: 45401792512
MDLZ: 96828030976
MELI: 80080183296
META: 816694362112
MNST: 57473908736
MRNA: 29762076672
MRVL: 44348846080
MSFT: 2721099022336
MU: 81013784576
NFLX: 197826985984
NVDA: 1124751638528
NXPI: 52950966272
ODFL: 43671785472
ON: 31367735296
ORLY: 57893761024
PANW: 89157378048
PAYX: 44756643840
PCAR: 48876224512
PDD: 185969393664
PEP: 232626307072
PYPL: 63825891328
QCOM: 144211410944
REGN: 89097945088
ROST: 44640161792
SBUX: 110509981696
SGEN: 40156921856
SIRI: 17297111040
SNPS: 79931211776
TEAM: 49962803200
TMUS: 177444503552
TSLA: 748858179584
TTD: 33509349376
TXN: 142306492416
VRSK: 34609848320
VRTX: 90093707264
WBA: 17891678208
WBD: 27482685440
WDAY: 70110535680
XEL: 33942200320
ZM: 20652056576
ZS: 28949684224

In [18]:
import pandas as pd

nasdaq_df = pd.DataFrame(list(nasdaq100_market_caps.items()), columns=['Ticker', 'Market_Capital'])

merged_df = pd.merge(res, nasdaq_df, on='Ticker')
merged_df = merged_df.sort_values('Ticker')

In [21]:
merged_df.to_csv('Details.csv')

In [22]:
merged_df['Market_Capital'].max()

2977505738752