In [ ]:
%load_ext sql

In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.23)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 35.0 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.41)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.12)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=f1d827f6f8a474a0f55c5263ae28950cb4b36c4ef41d6edc529e4d6e20dd9e13
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.9.0
    Uninstalling prettytable-3.9.0:
      Successfully uninstalled prettytable-3.9.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2
Collecting SQLAlchemy==1.4.49
  Downloading SQLAlchemy-1.4.49-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 11.3 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.1)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.23
    Uninstalling SQLAlchemy-2.0.23:
      Successfully uninstalled SQLAlchemy-2.0.23
Successfully installed SQLAlchemy-1.4.49

In [ ]:
%%sql

CREATE TABLE raw_data.unemployment (
    "date" VARCHAR(50),
    "value" NUMERIC(3, 1)
);

 * postgresql://admin:***@default.345545151430.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

ALTER TABLE raw_data.unemployment
ADD COLUMN formatted_date date;

-- 'formatted_date' 값을 계산하여 업데이트
UPDATE raw_data.unemployment
SET formatted_date = TO_DATE(date, 'MM/DD/YYYY');

 * postgresql://admin:***@default.345545151430.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
286 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT TO_CHAR(formatted_date, 'YYYY-MM') as month from raw_data.unemployment;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

SELECT * FROM raw_data.unemployment;

 * postgresql://admin:***@default.345545151430.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
286 rows affected.

[('1/1/2000', Decimal('3.5'), datetime.date(2000, 1, 1)),
 ('2/1/2000', Decimal('3.5'), datetime.date(2000, 2, 1)),
 ('3/1/2000', Decimal('3.4'), datetime.date(2000, 3, 1)),
 ('4/1/2000', Decimal('3.3'), datetime.date(2000, 4, 1)),
 ('5/1/2000', Decimal('3.5'), datetime.date(2000, 5, 1)),
 ('6/1/2000', Decimal('3.4'), datetime.date(2000, 6, 1)),
 ('7/1/2000', Decimal('3.5'), datetime.date(2000, 7, 1)),
 ('8/1/2000', Decimal('3.5'), datetime.date(2000, 8, 1)),
 ('9/1/2000', Decimal('3.4'), datetime.date(2000, 9, 1)),
 ('10/1/2000', Decimal('3.3'), datetime.date(2000, 10, 1)),
 ('11/1/2000', Decimal('3.4'), datetime.date(2000, 11, 1)),
 ('12/1/2000', Decimal('3.4'), datetime.date(2000, 12, 1)),
 ('1/1/2001', Decimal('3.6'), datetime.date(2001, 1, 1)),
 ('2/1/2001', Decimal('3.7'), datetime.date(2001, 2, 1)),
 ('3/1/2001', Decimal('3.7'), datetime.date(2001, 3, 1)),
 ('4/1/2001', Decimal('3.8'), datetime.date(2001, 4, 1)),
 ('5/1/2001', Decimal('3.8'), datetime.date(2001, 5, 1)),
 ('6/1/2001', Decimal('4.0'), datetime.date(2001, 6, 1)),
 ('7/1/2001', Decimal('4.0'), datetime.date(2001, 7, 1)),
 ('8/1/2001', Decimal('4.3'), datetime.date(2001, 8, 1)),
 ('9/1/2001', Decimal('4.4'), datetime.date(2001, 9, 1)),
 ('10/1/2001', Decimal('4.7'), datetime.date(2001, 10, 1)),
 ('11/1/2001', Decimal('4.9'), datetime.date(2001, 11, 1)),
 ('12/1/2001', Decimal('5.1'), datetime.date(2001, 12, 1)),
 ('1/1/2002', Decimal('5.1'), datetime.date(2002, 1, 1)),
 ('2/1/2002', Decimal('5.1'), datetime.date(2002, 2, 1)),
 ('3/1/2002', Decimal('5.1'), datetime.date(2002, 3, 1)),
 ('4/1/2002', Decimal('5.3'), datetime.date(2002, 4, 1)),
 ('5/1/2002', Decimal('5.2'), datetime.date(2002, 5, 1)),
 ('6/1/2002', Decimal('5.2'), datetime.date(2002, 6, 1)),
 ('7/1/2002', Decimal('5.2'), datetime.date(2002, 7, 1)),
 ('8/1/2002', Decimal('5.1'), datetime.date(2002, 8, 1)),
 ('9/1/2002', Decimal('5.1'), datetime.date(2002, 9, 1)),
 ('10/1/2002', Decimal('5.2'), datetime.date(2002, 10, 1)),
 ('11/1/2002', Decimal('5.3'), datetime.date(2002, 11, 1)),
 ('12/1/2002', Decimal('5.4'), datetime.date(2002, 12, 1)),
 ('1/1/2003', Decimal('5.2'), datetime.date(2003, 1, 1)),
 ('2/1/2003', Decimal('5.3'), datetime.date(2003, 2, 1)),
 ('3/1/2003', Decimal('5.3'), datetime.date(2003, 3, 1)),
 ('4/1/2003', Decimal('5.4'), datetime.date(2003, 4, 1)),
 ('5/1/2003', Decimal('5.5'), datetime.date(2003, 5, 1)),
 ('6/1/2003', Decimal('5.6'), datetime.date(2003, 6, 1)),
 ('7/1/2003', Decimal('5.5'), datetime.date(2003, 7, 1)),
 ('8/1/2003', Decimal('5.5'), datetime.date(2003, 8, 1)),
 ('9/1/2003', Decimal('5.5'), datetime.date(2003, 9, 1)),
 ('10/1/2003', Decimal('5.4'), datetime.date(2003, 10, 1)),
 ('11/1/2003', Decimal('5.3'), datetime.date(2003, 11, 1)),
 ('12/1/2003', Decimal('5.1'), datetime.date(2003, 12, 1)),
 ('1/1/2004', Decimal('5.1'), datetime.date(2004, 1, 1)),
 ('2/1/2004', Decimal('5.0'), datetime.date(2004, 2, 1)),
 ('3/1/2004', Decimal('5.2'), datetime.date(2004, 3, 1)),
 ('4/1/2004', Decimal('5.0'), datetime.date(2004, 4, 1)),
 ('5/1/2004', Decimal('5.0'), datetime.date(2004, 5, 1)),
 ('6/1/2004', Decimal('5.1'), datetime.date(2004, 6, 1)),
 ('7/1/2004', Decimal('4.9'), datetime.date(2004, 7, 1)),
 ('8/1/2004', Decimal('4.8'), datetime.date(2004, 8, 1)),
 ('9/1/2004', Decimal('4.8'), datetime.date(2004, 9, 1)),
 ('10/1/2004', Decimal('4.8'), datetime.date(2004, 10, 1)),
 ('11/1/2004', Decimal('4.8'), datetime.date(2004, 11, 1)),
 ('12/1/2004', Decimal('4.7'), datetime.date(2004, 12, 1)),
 ('1/1/2005', Decimal('4.7'), datetime.date(2005, 1, 1)),
 ('2/1/2005', Decimal('4.8'), datetime.date(2005, 2, 1)),
 ('3/1/2005', Decimal('4.6'), datetime.date(2005, 3, 1)),
 ('4/1/2005', Decimal('4.5'), datetime.date(2005, 4, 1)),
 ('5/1/2005', Decimal('4.5'), datetime.date(2005, 5, 1)),
 ('6/1/2005', Decimal('4.5'), datetime.date(2005, 6, 1)),
 ('7/1/2005', Decimal('4.4'), datetime.date(2005, 7, 1)),
 ('8/1/2005', Decimal('4.3'), datetime.date(2005, 8, 1)),
 ('9/1/2005', Decimal('4.5'), datetime.date(2005, 9, 1)),
 ('10/1/2005', Decimal('4.4'), datetime.date(2005, 10, 1)),
 ('11/1/2005', Decimal('4.4'), datetime.date(2005, 11, 1)),
 ('12/1/2005', Decimal('4.3'), datetime.date(2005, 12, 1)),
 ('1/1/2006', Decimal('4.2'), datetime.date(2006, 1, 1)),
 ('2/1/2006', Decimal('4.2'), datetime.date(2006, 2, 1)),
 ('3/1/2006', Decimal('4.1'), datetime.date(2006, 3, 1)),
 ('4/1/2006', Decimal('4.2'), datetime.date(2006, 4, 1)),
 ('5/1/2006', Decimal('4.1'), datetime.date(2006, 5, 1)),
 ('6/1/2006', Decimal('4.1'), datetime.date(2006, 6, 1)),
 ('7/1/2006', Decimal('4.2'), datetime.date(2006, 7, 1)),
 ('8/1/2006', Decimal('4.1'), datetime.date(2006, 8, 1)),
 ('9/1/2006', Decimal('3.9'), datetime.date(2006, 9, 1)),
 ('10/1/2006', Decimal('3.9'), datetime.date(2006, 10, 1)),
 ('11/1/2006', Decimal('4.0'), datetime.date(2006, 11, 1)),
 ('12/1/2006', Decimal('3.9'), datetime.date(2006, 12, 1)),
 ('1/1/2007', Decimal('4.1'), datetime.date(2007, 1, 1)),
 ('2/1/2007', Decimal('4.0'), datetime.date(2007, 2, 1)),
 ('3/1/2007', Decimal('3.9'), datetime.date(2007, 3, 1)),
 ('4/1/2007', Decimal('3.9'), datetime.date(2007, 4, 1)),
 ('5/1/2007', Decimal('3.9'), datetime.date(2007, 5, 1)),
 ('6/1/2007', Decimal('4.0'), datetime.date(2007, 6, 1)),
 ('7/1/2007', Decimal('4.2'), datetime.date(2007, 7, 1)),
 ('8/1/2007', Decimal('4.1'), datetime.date(2007, 8, 1)),
 ('9/1/2007', Decimal('4.1'), datetime.date(2007, 9, 1)),
 ('10/1/2007', Decimal('4.2'), datetime.date(2007, 10, 1)),
 ('11/1/2007', Decimal('4.2'), datetime.date(2007, 11, 1)),
 ('12/1/2007', Decimal('4.4'), datetime.date(2007, 12, 1)),
 ('1/1/2008', Decimal('4.4'), datetime.date(2008, 1, 1)),
 ('2/1/2008', Decimal('4.3'), datetime.date(2008, 2, 1)),
 ('3/1/2008', Decimal('4.6'), datetime.date(2008, 3, 1)),
 ('4/1/2008', Decimal('4.4'), datetime.date(2008, 4, 1)),
 ('5/1/2008', Decimal('4.8'), datetime.date(2008, 5, 1)),
 ('6/1/2008', Decimal('4.9'), datetime.date(2008, 6, 1)),
 ('7/1/2008', Decimal('5.1'), datetime.date(2008, 7, 1)),
 ('8/1/2008', Decimal('5.5'), datetime.date(2008, 8, 1)),
 ('9/1/2008', Decimal('5.5'), datetime.date(2008, 9, 1)),
 ('10/1/2008', Decimal('5.9'), datetime.date(2008, 10, 1)),
 ('11/1/2008', Decimal('6.2'), datetime.date(2008, 11, 1)),
 ('12/1/2008', Decimal('6.7'), datetime.date(2008, 12, 1)),
 ('1/1/2009', Decimal('7.2'), datetime.date(2009, 1, 1)),
 ('2/1/2009', Decimal('7.7'), datetime.date(2009, 2, 1)),
 ('3/1/2009', Decimal('8.1'), datetime.date(2009, 3, 1)),
 ('4/1/2009', Decimal('8.4'), datetime.date(2009, 4, 1)),
 ('5/1/2009', Decimal('8.7'), datetime.date(2009, 5, 1)),
 ('6/1/2009', Decimal('8.8'), datetime.date(2009, 6, 1)),
 ('7/1/2009', Decimal('8.8'), datetime.date(2009, 7, 1)),
 ('8/1/2009', Decimal('8.9'), datetime.date(2009, 8, 1)),
 ('9/1/2009', Decimal('9.1'), datetime.date(2009, 9, 1)),
 ('10/1/2009', Decimal('9.3'), datetime.date(2009, 10, 1)),
 ('11/1/2009', Decimal('9.2'), datetime.date(2009, 11, 1)),
 ('12/1/2009', Decimal('9.2'), datetime.date(2009, 12, 1)),
 ('1/1/2010', Decimal('9.1'), datetime.date(2010, 1, 1)),
 ('2/1/2010', Decimal('9.2'), datetime.date(2010, 2, 1)),
 ('3/1/2010', Decimal('9.2'), datetime.date(2010, 3, 1)),
 ('4/1/2010', Decimal('9.3'), datetime.date(2010, 4, 1)),
 ('5/1/2010', Decimal('9.0'), datetime.date(2010, 5, 1)),
 ('6/1/2010', Decimal('8.8'), datetime.date(2010, 6, 1)),
 ('7/1/2010', Decimal('8.8'), datetime.date(2010, 7, 1)),
 ('8/1/2010', Decimal('8.9'), datetime.date(2010, 8, 1)),
 ('9/1/2010', Decimal('8.8'), datetime.date(2010, 9, 1)),
 ('10/1/2010', Decimal('8.7'), datetime.date(2010, 10, 1)),
 ('11/1/2010', Decimal('9.2'), datetime.date(2010, 11, 1)),
 ('12/1/2010', Decimal('8.7'), datetime.date(2010, 12, 1)),
 ('1/1/2011', Decimal('8.5'), datetime.date(2011, 1, 1)),
 ('2/1/2011', Decimal('8.4'), datetime.date(2011, 2, 1)),
 ('3/1/2011', Decimal('8.4'), datetime.date(2011, 3, 1)),
 ('4/1/2011', Decimal('8.5'), datetime.date(2011, 4, 1)),
 ('5/1/2011', Decimal('8.5'), datetime.date(2011, 5, 1)),
 ('6/1/2011', Decimal('8.5'), datetime.date(2011, 6, 1)),
 ('7/1/2011', Decimal('8.4'), datetime.date(2011, 7, 1)),
 ('8/1/2011', Decimal('8.4'), datetime.date(2011, 8, 1)),
 ('9/1/2011', Decimal('8.4'), datetime.date(2011, 9, 1)),
 ('10/1/2011', Decimal('8.2'), datetime.date(2011, 10, 1)),
 ('11/1/2011', Decimal('8.0'), datetime.date(2011, 11, 1)),
 ('12/1/2011', Decimal('7.9'), datetime.date(2011, 12, 1)),
 ('1/1/2012', Decimal('7.7'), datetime.date(2012, 1, 1)),
 ('2/1/2012', Decimal('7.7'), datetime.date(2012, 2, 1)),
 ('3/1/2012', Decimal('7.6'), datetime.date(2012, 3, 1)),
 ('4/1/2012', Decimal('7.5'), datetime.date(2012, 4, 1)),
 ('5/1/2012', Decimal('7.5'), datetime.date(2012, 5, 1)),
 ('6/1/2012', Decimal('7.6'), datetime.date(2012, 6, 1)),
 ('7/1/2012', Decimal('7.6'), datetime.date(2012, 7, 1)),
 ('8/1/2012', Decimal('7.4'), datetime.date(2012, 8, 1)),
 ('9/1/2012', Decimal('7.2'), datetime.date(2012, 9, 1)),
 ('10/1/2012', Decimal('7.2'), datetime.date(2012, 10, 1)),
 ('11/1/2012', Decimal('7.1'), datetime.date(2012, 11, 1)),
 ('12/1/2012', Decimal('7.3'), datetime.date(2012, 12, 1)),
 ('1/1/2013', Decimal('7.4'), datetime.date(2013, 1, 1)),
 ('2/1/2013', Decimal('7.0'), datetime.date(2013, 2, 1)),
 ('3/1/2013', Decimal('6.9'), datetime.date(2013, 3, 1)),
 ('4/1/2013', Decimal('6.9'), datetime.date(2013, 4, 1)),
 ('5/1/2013', Decimal('6.8'), datetime.date(2013, 5, 1)),
 ('6/1/2013', Decimal('6.9'), datetime.date(2013, 6, 1)),
 ('7/1/2013', Decimal('6.7'), datetime.date(2013, 7, 1)),
 ('8/1/2013', Decimal('6.7'), datetime.date(2013, 8, 1)),
 ('9/1/2013', Decimal('6.7'), datetime.date(2013, 9, 1)),
 ('10/1/2013', Decimal('6.6'), datetime.date(2013, 10, 1)),
 ('11/1/2013', Decimal('6.4'), datetime.date(2013, 11, 1)),
 ('12/1/2013', Decimal('6.2'), datetime.date(2013, 12, 1)),
 ('1/1/2014', Decimal('6.1'), datetime.date(2014, 1, 1)),
 ('2/1/2014', Decimal('6.1'), datetime.date(2014, 2, 1)),
 ('3/1/2014', Decimal('6.1'), datetime.date(2014, 3, 1)),
 ('4/1/2014', Decimal('5.8'), datetime.date(2014, 4, 1)),
 ('5/1/2014', Decimal('5.8'), datetime.date(2014, 5, 1)),
 ('6/1/2014', Decimal('5.5'), datetime.date(2014, 6, 1)),
 ('7/1/2014', Decimal('5.6'), datetime.date(2014, 7, 1)),
 ('8/1/2014', Decimal('5.7'), datetime.date(2014, 8, 1)),
 ('9/1/2014', Decimal('5.4'), datetime.date(2014, 9, 1)),
 ('10/1/2014', Decimal('5.2'), datetime.date(2014, 10, 1)),
 ('11/1/2014', Decimal('5.4'), datetime.date(2014, 11, 1)),
 ('12/1/2014', Decimal('5.1'), datetime.date(2014, 12, 1)),
 ('1/1/2015', Decimal('5.2'), datetime.date(2015, 1, 1)),
 ('2/1/2015', Decimal('5.1'), datetime.date(2015, 2, 1)),
 ('3/1/2015', Decimal('5.0'), datetime.date(2015, 3, 1)),
 ('4/1/2015', Decimal('5.0'), datetime.date(2015, 4, 1)),
 ('5/1/2015', Decimal('5.1'), datetime.date(2015, 5, 1)),
 ('6/1/2015', Decimal('4.8'), datetime.date(2015, 6, 1)),
 ('7/1/2015', Decimal('4.8'), datetime.date(2015, 7, 1)),
 ('8/1/2015', Decimal('4.6'), datetime.date(2015, 8, 1)),
 ('9/1/2015', Decimal('4.6'), datetime.date(2015, 9, 1)),
 ('10/1/2015', Decimal('4.6'), datetime.date(2015, 10, 1)),
 ('11/1/2015', Decimal('4.7'), datetime.date(2015, 11, 1)),
 ('12/1/2015', Decimal('4.6'), datetime.date(2015, 12, 1)),
 ('1/1/2016', Decimal('4.4'), datetime.date(2016, 1, 1)),
 ('2/1/2016', Decimal('4.4'), datetime.date(2016, 2, 1)),
 ('3/1/2016', Decimal('4.6'), datetime.date(2016, 3, 1)),
 ('4/1/2016', Decimal('4.6'), datetime.date(2016, 4, 1)),
 ('5/1/2016', Decimal('4.4'), datetime.date(2016, 5, 1)),
 ('6/1/2016', Decimal('4.5'), datetime.date(2016, 6, 1)),
 ('7/1/2016', Decimal('4.4'), datetime.date(2016, 7, 1)),
 ('8/1/2016', Decimal('4.5'), datetime.date(2016, 8, 1)),
 ('9/1/2016', Decimal('4.5'), datetime.date(2016, 9, 1)),
 ('10/1/2016', Decimal('4.5'), datetime.date(2016, 10, 1)),
 ('11/1/2016', Decimal('4.3'), datetime.date(2016, 11, 1)),
 ('12/1/2016', Decimal('4.3'), datetime.date(2016, 12, 1)),
 ('1/1/2017', Decimal('4.3'), datetime.date(2017, 1, 1)),
 ('2/1/2017', Decimal('4.2'), datetime.date(2017, 2, 1)),
 ('3/1/2017', Decimal('4.1'), datetime.date(2017, 3, 1)),
 ('4/1/2017', Decimal('4.0'), datetime.date(2017, 4, 1)),
 ('5/1/2017', Decimal('4.0'), datetime.date(2017, 5, 1)),
 ('6/1/2017', Decimal('3.9'), datetime.date(2017, 6, 1)),
 ('7/1/2017', Decimal('4.0'), datetime.date(2017, 7, 1)),
 ('8/1/2017', Decimal('4.0'), datetime.date(2017, 8, 1)),
 ('9/1/2017', Decimal('3.9'), datetime.date(2017, 9, 1)),
 ('10/1/2017', Decimal('3.8'), datetime.date(2017, 10, 1)),
 ('11/1/2017', Decimal('3.8'), datetime.date(2017, 11, 1)),
 ('12/1/2017', Decimal('3.8'), datetime.date(2017, 12, 1)),
 ('1/1/2018', Decimal('3.7'), datetime.date(2018, 1, 1)),
 ('2/1/2018', Decimal('3.7'), datetime.date(2018, 2, 1)),
 ('3/1/2018', Decimal('3.7'), datetime.date(2018, 3, 1)),
 ('4/1/2018', Decimal('3.7'), datetime.date(2018, 4, 1)),
 ('5/1/2018', Decimal('3.5'), datetime.date(2018, 5, 1)),
 ('6/1/2018', Decimal('3.6'), datetime.date(2018, 6, 1)),
 ('7/1/2018', Decimal('3.5'), datetime.date(2018, 7, 1)),
 ('8/1/2018', Decimal('3.5'), datetime.date(2018, 8, 1)),
 ('9/1/2018', Decimal('3.4'), datetime.date(2018, 9, 1)),
 ('10/1/2018', Decimal('3.5'), datetime.date(2018, 10, 1)),
 ('11/1/2018', Decimal('3.4'), datetime.date(2018, 11, 1)),
 ('12/1/2018', Decimal('3.6'), datetime.date(2018, 12, 1)),
 ('1/1/2019', Decimal('3.6'), datetime.date(2019, 1, 1)),
 ('2/1/2019', Decimal('3.4'), datetime.date(2019, 2, 1)),
 ('3/1/2019', Decimal('3.5'), datetime.date(2019, 3, 1)),
 ('4/1/2019', Decimal('3.3'), datetime.date(2019, 4, 1)),
 ('5/1/2019', Decimal('3.3'), datetime.date(2019, 5, 1)),
 ('6/1/2019', Decimal('3.3'), datetime.date(2019, 6, 1)),
 ('7/1/2019', Decimal('3.3'), datetime.date(2019, 7, 1)),
 ('8/1/2019', Decimal('3.3'), datetime.date(2019, 8, 1)),
 ('9/1/2019', Decimal('3.2'), datetime.date(2019, 9, 1)),
 ('10/1/2019', Decimal('3.3'), datetime.date(2019, 10, 1)),
 ('11/1/2019', Decimal('3.3'), datetime.date(2019, 11, 1)),
 ('12/1/2019', Decimal('3.2'), datetime.date(2019, 12, 1)),
 ('1/1/2020', Decimal('3.2'), datetime.date(2020, 1, 1)),
 ('2/1/2020', Decimal('3.2'), datetime.date(2020, 2, 1)),
 ('3/1/2020', Decimal('4.0'), datetime.date(2020, 3, 1)),
 ('4/1/2020', Decimal('14.2'), datetime.date(2020, 4, 1)),
 ('5/1/2020', Decimal('12.6'), datetime.date(2020, 5, 1)),
 ('6/1/2020', Decimal('10.6'), datetime.date(2020, 6, 1)),
 ('7/1/2020', Decimal('9.9'), datetime.date(2020, 7, 1)),
 ('8/1/2020', Decimal('8.1'), datetime.date(2020, 8, 1)),
 ('9/1/2020', Decimal('7.5'), datetime.date(2020, 9, 1)),
 ('10/1/2020', Decimal('6.6'), datetime.date(2020, 10, 1)),
 ('11/1/2020', Decimal('6.4'), datetime.date(2020, 11, 1)),
 ('12/1/2020', Decimal('6.4'), datetime.date(2020, 12, 1)),
 ('1/1/2021', Decimal('6.0'), datetime.date(2021, 1, 1)),
 ('2/1/2021', Decimal('5.9'), datetime.date(2021, 2, 1)),
 ('3/1/2021', Decimal('5.8'), datetime.date(2021, 3, 1)),
 ('4/1/2021', Decimal('5.8'), datetime.date(2021, 4, 1)),
 ('5/1/2021', Decimal('5.6'), datetime.date(2021, 5, 1)),
 ('6/1/2021', Decimal('5.7'), datetime.date(2021, 6, 1)),
 ('7/1/2021', Decimal('5.2'), datetime.date(2021, 7, 1)),
 ('8/1/2021', Decimal('4.9'), datetime.date(2021, 8, 1)),
 ('9/1/2021', Decimal('4.5'), datetime.date(2021, 9, 1)),
 ('10/1/2021', Decimal('4.3'), datetime.date(2021, 10, 1)),
 ('11/1/2021', Decimal('3.9'), datetime.date(2021, 11, 1)),
 ('12/1/2021', Decimal('3.6'), datetime.date(2021, 12, 1)),
 ('1/1/2022', Decimal('3.7'), datetime.date(2022, 1, 1)),
 ('2/1/2022', Decimal('3.6'), datetime.date(2022, 2, 1)),
 ('3/1/2022', Decimal('3.4'), datetime.date(2022, 3, 1)),
 ('4/1/2022', Decimal('3.4'), datetime.date(2022, 4, 1)),
 ('5/1/2022', Decimal('3.4'), datetime.date(2022, 5, 1)),
 ('6/1/2022', Decimal('3.3'), datetime.date(2022, 6, 1)),
 ('7/1/2022', Decimal('3.2'), datetime.date(2022, 7, 1)),
 ('8/1/2022', Decimal('3.4'), datetime.date(2022, 8, 1)),
 ('9/1/2022', Decimal('3.2'), datetime.date(2022, 9, 1)),
 ('10/1/2022', Decimal('3.4'), datetime.date(2022, 10, 1)),
 ('11/1/2022', Decimal('3.3'), datetime.date(2022, 11, 1)),
 ('12/1/2022', Decimal('3.2'), datetime.date(2022, 12, 1)),
 ('1/1/2023', Decimal('3.2'), datetime.date(2023, 1, 1)),
 ('2/1/2023', Decimal('3.3'), datetime.date(2023, 2, 1)),
 ('3/1/2023', Decimal('3.2'), datetime.date(2023, 3, 1)),
 ('4/1/2023', Decimal('3.2'), datetime.date(2023, 4, 1)),
 ('5/1/2023', Decimal('3.4'), datetime.date(2023, 5, 1)),
 ('6/1/2023', Decimal('3.3'), datetime.date(2023, 6, 1)),
 ('7/1/2023', Decimal('3.2'), datetime.date(2023, 7, 1)),
 ('8/1/2023', Decimal('3.5'), datetime.date(2023, 8, 1)),
 ('9/1/2023', Decimal('3.5'), datetime.date(2023, 9, 1)),
 ('10/1/2023', Decimal('3.5'), datetime.date(2023, 10, 1))]

In [ ]:
%%sql

CREATE TABLE analytics.unemployment_price_summary AS
SELECT B.*, A.value as unemployment
FROM raw_data.unemployment A
JOIN raw_data.prices B ON TO_CHAR(A.formatted_date, 'YYYY-MM') = TO_CHAR(B.date, 'YYYY-MM');

 * postgresql://admin:***@default.345545151430.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

select * from analytics.unemployment_price_summary limit 10;

 * postgresql://admin:***@default.345545151430.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2023, 6, 15), 186.0099945, 127.8499985, 490.9100037, 189.6600037, 220.9700012, 221.4299927, 84.87999725, 333.1900024, 140.1100006, 124.2399979, 228.4400024, 127.1100006, 336.8099976, 738.6900024, 883.4299927, 74.62000275, 297.8299866, 2671.699951, 30.23999977, 237.7700043, 93.45999908, 342.8500061, 41.47000122, 529.1799927, 43.55500031, 159.8099976, 51.93000031, 84.06999969, 33.56000137, 492.3800049, 64.73999786, 98.19000244, 138.4400024, 130.9799957, 128.9900055, 45.61999893, 180.5099945, 40.81999969, 126.6600037, 56.24000168, 73.58999634, 79.09999847, 62.93999863, 79.0, 125.7900009, 125.0899963, 203.7299957, 481.4200134, 209.9400024, 35.81999969, 456.3099976, 328.269989, 39.95999908, 31.76000023, 36.86999893, 472.5799866, 6.590000153, 621.0, 382.6300049, 176.6799927, 85.37000275, 73.45999908, 1223.77002, 281.8299866, 58.79999924, 129.9799957, 62.02999878, 348.1000061, 68.81999969, 445.269989, 426.5299988, 195.75, 328.3699951, 91.0, 927.4899902, 243.8000031, 113.3099976, 79.08000183, 80.81999969, 185.7100067, 65.84999847, 123.6100006, 783.0700073, 107.8799973, 101.3799973, 197.5399933, 3.829999924, 446.3699951, 182.1900024, 132.7599945, 255.8999939, 77.26999664, 178.0899963, 224.5700073, 349.0799866, 32.02000046, 13.13000011, 224.3099976, 64.31999969, 69.94000244, 158.3399963, Decimal('3.3')),
 (datetime.date(2023, 6, 14), 183.9499969, 125.1399994, 479.5299988, 191.8899994, 216.0899963, 213.5500031, 83.61000061, 322.4599915, 141.1699982, 127.3300018, 222.2799988, 126.4199982, 334.3099976, 740.210022, 886.1799927, 72.76999664, 299.9899902, 2609.790039, 29.94000053, 236.0599976, 93.19999695, 335.25, 40.84000015, 527.2000122, 43.16999817, 153.9600067, 50.95999908, 82.80000305, 33.09000015, 486.0899963, 63.70999908, 96.27999878, 137.7899933, 127.0599976, 127.9000015, 45.06999969, 179.1999969, 40.11999893, 126.7799988, 55.43999863, 71.48000336, 78.52999878, 62.47999954, 77.94999695, 124.3799973, 123.6699982, 200.5200043, 466.9700012, 204.8399963, 35.58000183, 446.2200012, 323.0700073, 38.63999939, 31.76000023, 36.66999817, 480.5400085, 6.400000095, 630.0300293, 377.2099915, 181.4600067, 86.63999939, 73.12999725, 1211.839966, 273.3500061, 58.47999954, 126.0500031, 62.95999908, 337.3399963, 69.12000275, 440.8599854, 429.9700012, 195.6900024, 320.7200012, 92.73999786, 909.6400146, 238.5599976, 111.5400009, 78.05999756, 78.66999817, 183.1699982, 63.59999847, 123.4000015, 771.1099854, 106.2399979, 100.6600037, 196.2100067, 3.769999981, 446.0499878, 181.2299957, 128.0500031, 256.7900085, 76.80999756, 177.1199951, 220.2799988, 340.9599915, 31.51000023, 13.67000008, 217.3099976, 62.49000168, 68.40000153, 157.5500031, Decimal('3.3')),
 (datetime.date(2023, 6, 13), 183.3099976, 124.9000015, 478.9899902, 192.3699951, 220.4900055, 213.2899933, 83.12999725, 322.019989, 141.7899933, 124.5299988, 221.9900055, 126.6600037, 333.230011, 737.2700195, 851.1199951, 74.12999725, 304.6000061, 2614.050049, 30.17000008, 239.0, 94.25, 335.269989, 40.68000031, 522.0200195, 43.36500168, 153.1100006, 50.79999924, 81.95999908, 32.65999985, 483.269989, 64.23000336, 97.75, 136.0299988, 125.9499969, 127.3199997, 45.52000046, 179.6600037, 39.79999924, 130.0599976, 56.13000107, 70.48999786, 77.79000092, 62.88999939, 78.44999695, 124.4300003, 123.8300018, 201.1100006, 468.4700012, 206.8399963, 33.90999985, 447.5499878, 315.4500122, 37.99000168, 31.52000046, 36.79999924, 479.8900146, 6.550000191, 625.539978, 368.3599854, 181.4100037, 85.70999908, 72.72000122, 1209.52002, 271.3200073, 58.18000031, 127.9800034, 63.04999924, 334.2900085, 67.87000275, 435.730011, 410.2200012, 196.4400024, 312.1000061, 92.66999817, 916.2700195, 233.6300049, 113.5100021, 79.48000336, 77.45999908, 181.5399933, 63.56000137, 124.4300003, 767.3499756, 106.4300003, 99.26000214, 196.25, 3.829999924, 449.980011, 181.6849976, 129.8800049, 258.7099915, 77.51999664, 177.4100037, 217.1399994, 342.1000061, 31.95000076, 13.78999996, 214.0599976, 63.13000107, 68.81999969, 157.5899963, Decimal('3.3')),
 (datetime.date(2023, 6, 12), 183.7899933, 124.5899963, 474.6300049, 187.6600037, 218.3600006, 208.1000061, 83.69000244, 311.2900085, 140.0099945, 129.1900024, 217.3600006, 126.5699997, 329.9700012, 730.1699829, 855.3599854, 73.84999847, 313.4100037, 2605.340088, 29.79000092, 233.2200012, 93.75, 335.2999878, 40.68999863, 520.9699707, 43.47000122, 151.1100006, 50.47999954, 80.73000336, 32.40000153, 484.5299988, 63.31999969, 97.69999695, 134.2200012, 126.9100037, 125.7600021, 45.11999893, 176.8899994, 39.90999985, 129.7400055, 55.15999985, 69.83999634, 78.26999664, 62.29999924, 77.86000061, 124.3499985, 123.6399994, 198.5, 460.480011, 208.1399994, 33.06999969, 446.1199951, 313.6400146, 36.70000076, 31.22999954, 36.58000183, 475.4299927, 6.269999981, 627.5300293, 368.1799927, 180.9400024, 82.91999817, 72.80999756, 1238.150024, 271.0499878, 57.90999985, 123.5199966, 62.04999924, 331.8500061, 67.44999695, 423.9700012, 394.8200073, 189.3500061, 306.1400146, 91.05999756, 911.7800293, 229.1399994, 113.0899963, 77.76000214, 76.08999634, 181.8999939, 63.72999954, 122.1399994, 754.0100098, 106.3700027, 98.45999908, 197.1499939, 3.789999962, 446.0400085, 175.8399963, 130.7799988, 249.8300018, 75.48000336, 174.0399933, 219.1199951, 340.6000061, 31.63999939, 13.97000027, 209.6499939, 63.56999969, 69.18000031, 155.9799957, Decimal('3.3')),
 (datetime.date(2023, 6, 9), 180.9600067, 117.8600006, 454.0, 182.4600067, 215.2200012, 201.3899994, 83.68000031, 304.4400024, 136.1199951, 124.9199982, 218.7599945, 123.4300003, 325.5299988, 715.8599854, 804.6199951, 74.05999756, 308.8800049, 2606.129883, 30.01000023, 229.3000031, 93.29000092, 328.480011, 40.22999954, 517.2800293, 42.86999893, 149.5299988, 49.65999985, 80.13999939, 32.31000137, 480.4299927, 62.04999924, 95.62999725, 131.7700043, 124.3399963, 125.9400024, 45.81000137, 174.5800018, 40.08000183, 132.2799988, 54.77000046, 68.01000214, 77.09999847, 59.43000031, 78.12000275, 122.8700027, 122.2300034, 197.8899994, 450.8699951, 200.5299988, 31.34000015, 431.5499878, 312.7600098, 36.58000183, 31.30999947, 36.88000107, 465.6499939, 6.210000038, 606.5900269, 360.3999939, 179.0099945, 80.06999969, 72.97000122, 1208.550049, 264.9500122, 57.25, 123.2600021, 60.00999832, 326.7900085, 65.43000031, 420.019989, 387.7000122, 185.0, 306.1900024, 89.01999664, 906.9899902, 220.1000061, 111.6900024, 76.83000183, 76.09999847, 182.3500061, 63.49000168, 119.1100006, 746.5200195, 103.2900009, 97.95999908, 196.6000061, 3.809999943, 438.7799988, 171.9900055, 131.3600006, 244.3999939, 74.58000183, 170.5899963, 219.3600006, 334.1099854, 31.42000008, 13.84000015, 204.3800049, 63.45000076, 67.13999939, 150.8399963, Decimal('3.3')),
 (datetime.date(2023, 6, 8), 180.5700073, 115.5, 439.0299988, 181.6799927, 215.1900024, 200.1600037, 84.68000031, 306.7600098, 136.1999969, 121.0500031, 220.7599945, 124.25, 316.0499878, 720.0499878, 804.2000122, 74.25, 308.8800049, 2647.459961, 30.29000092, 228.0800018, 92.30000305, 336.1799927, 40.47000122, 520.0900269, 43.36500168, 151.3000031, 49.68000031, 80.94000244, 32.56000137, 483.1499939, 62.29999924, 96.01999664, 132.8800049, 121.1299973, 127.1100006, 45.61000061, 181.3999939, 40.13000107, 133.3399963, 54.47000122, 69.0, 77.75, 59.40000153, 78.40000153, 122.6699982, 122.1399994, 198.1499939, 453.0, 202.7200012, 31.81999969, 423.3599854, 310.8200073, 37.24000168, 31.40999985, 37.18999863, 473.8599854, 6.28000021, 614.539978, 354.9500122, 178.4799957, 80.75, 73.08999634, 1209.73999, 264.5799866, 57.52999878, 124.9400024, 59.72000122, 325.2600098, 65.31999969, 409.3699951, 385.1000061, 187.4600067, 316.8800049, 89.98999786, 906.6799927, 222.8200073, 110.9599991, 76.70999908, 74.93000031, 182.1000061, 64.23999786, 116.3499985, 750.1199951, 103.2399979, 99.15000153, 194.7200012, 3.880000114, 437.6900024, 170.3899994, 130.3200073, 234.8600006, 74.54000092, 172.2299957, 219.9100037, 332.5799866, 31.85000038, 14.02000046, 204.4900055, 64.13999939, 66.73999786, 148.8200073, Decimal('3.3')),
 (datetime.date(2023, 6, 7), 177.8200073, 116.5500031, 418.3200073, 180.3699951, 216.4700012, 201.1600037, 84.58000183, 301.730011, 135.0099945, 117.8300018, 221.25, 121.2300034, 312.8500061, 710.210022, 792.6300049, 73.30999756, 304.8999939, 2644.179932, 30.63999939, 222.4700012, 90.80999756, 336.7099915, 40.34999847, 511.230011, 43.11000061, 149.2299957, 49.77999878, 79.65000153, 32.58000183, 477.0599976, 62.59999847, 93.58999634, 132.3399963, 119.7099991, 126.2399979, 45.06000137, 182.0899963, 40.34000015, 134.1799927, 53.93999863, 67.05999756, 80.48000336, 59.20000076, 76.08000183, 122.9400024, 122.5, 198.3899994, 450.7000122, 202.3300018, 31.28000069, 422.3599854, 307.2399902, 36.95000076, 31.30999947, 36.95000076, 463.7600098, 6.400000095, 610.7800293, 353.9299927, 177.25, 80.98999786, 72.19000244, 1208.290039, 263.6000061, 56.90000153, 125.6100006, 59.33000183, 323.3800049, 67.05999756, 399.769989, 374.75, 186.4499969, 316.1000061, 89.23999786, 883.1099854, 216.25, 111.9100037, 76.19000244, 72.5, 180.1100006, 64.04000092, 115.1800003, 738.6300049, 101.9899979, 97.91999817, 194.75, 3.859999895, 435.3200073, 171.3399963, 126.5500031, 224.5700073, 73.66000366, 172.0, 218.4900055, 324.6499939, 31.93000031, 13.11999989, 203.4400024, 64.30999756, 66.5, 144.9199982, Decimal('3.3')),
 (datetime.date(2023, 6, 6), 179.2100067, 117.3000031, 432.8900146, 177.9700012, 216.7400055, 208.0099945, 83.44000244, 304.6799927, 133.9400024, 124.2300034, 221.2200012, 126.6100006, 325.5899963, 716.6300049, 790.0, 73.40000153, 299.7900085, 2708.100098, 30.59000015, 228.7799988, 89.55000305, 329.0, 39.45999908, 516.2600098, 44.04499817, 153.0399933, 49.81000137, 82.30999756, 31.94000053, 484.6000061, 62.16999817, 101.8499985, 131.2899933, 125.3799973, 127.1399994, 45.18000031, 182.6100006, 39.75, 130.9600067, 53.95999908, 69.54000092, 82.93000031, 57.40000153, 76.19999695, 127.9100037, 127.3099976, 196.3399963, 459.5299988, 203.0700073, 30.95999908, 448.4899902, 315.7200012, 37.75, 31.07999992, 37.79000092, 461.0, 6.900000095, 612.2000122, 356.019989, 180.8999939, 77.5, 73.27999878, 1254.449951, 271.1199951, 58.33000183, 126.9000015, 59.13999939, 333.6799927, 67.54000092, 399.2900085, 386.5400085, 181.2599945, 307.5299988, 88.48000336, 885.9299927, 224.7200012, 111.4100037, 74.58999634, 72.80999756, 181.5599976, 65.01999664, 116.3600006, 748.1400146, 103.6699982, 98.22000122, 195.4700012, 3.730000019, 443.8399963, 184.0, 128.5399933, 221.3099976, 74.87999725, 170.3600006, 221.3200073, 330.4100037, 31.53000069, 12.10000038, 215.0, 63.56000137, 69.5, 152.9900055, Decimal('3.3')),
 (datetime.date(2023, 6, 5), 179.5800018, 115.6900024, 434.1799927, 174.9799957, 216.2400055, 208.4299927, 84.0, 305.1499939, 133.7299957, 117.9300003, 221.8800049, 125.3000031, 326.019989, 722.2000122, 802.2999878, 73.19999695, 302.1300049, 2670.76001, 29.67000008, 232.3300018, 87.51000214, 334.9100037, 39.79000092, 518.25, 44.25999832, 154.0800018, 50.20999908, 82.0, 32.13000107, 484.25, 61.29999924, 100.3499985, 130.2400055, 124.6600037, 127.0199966, 45.29000092, 182.7299957, 39.97999954, 130.3200073, 55.29000092, 71.26999664, 80.48999786, 56.63000107, 77.72000122, 126.6299973, 126.0100021, 197.1799927, 465.2799988, 210.5599976, 29.86000061, 442.8399963, 317.4899902, 36.29000092, 31.30999947, 38.06000137, 458.0499878, 6.590000153, 605.6099854, 356.4400024, 177.2200012, 75.26999664, 74.29000092, 1289.48999, 271.3900146, 59.25999832, 128.8999939, 58.02999878, 335.9400024, 67.76999664, 403.5400085, 391.7099915, 176.5599976, 313.6000061, 85.62999725, 902.1099854, 226.7899933, 111.6500015, 73.33000183, 68.05999756, 184.1900024, 64.51000214, 112.7300034, 750.2700195, 103.0999985, 99.93000031, 195.1900024, 3.599999905, 450.1600037, 183.2700043, 132.2200012, 217.6100006, 75.37000275, 170.2599945, 223.1300049, 334.4200134, 31.25, 11.63000011, 213.4799957, 63.95000076, 69.01999664, 148.0500031, Decimal('3.3')),
 (datetime.date(2023, 6, 2), 180.9499969, 118.0599976, 436.3699951, 179.8000031, 216.5200043, 204.2400055, 83.44999695, 302.0, 134.6300049, 117.8600006, 218.0700073, 124.25, 325.0, 724.6500244, 812.0, 72.58999634, 300.2000122, 2625.649902, 29.57999992, 229.6900024, 87.54000092, 329.3200073, 39.18999863, 512.5900269, 44.01499939, 151.3200073, 50.02000046, 81.87999725, 31.92000008, 481.5599976, 63.75999832, 98.76999664, 133.6100006, 122.5699997, 127.6699982, 44.38999939, 181.8600006, 39.68999863, 131.3500061, 55.36999893, 68.12999725, 79.97000122, 59.16999817, 77.88999939, 125.2300034, 124.6699982, 198.8500061, 470.8299866, 207.3099976, 31.30999947, 430.4899902, 312.1799927, 35.43000031, 31.45000076, 38.50999832, 458.0599976, 6.599999905, 613.6699829, 365.4400024, 177.2200012, 77.19999695, 74.26999664, 1270.670044, 272.6099854, 59.47999954, 130.5099945, 60.18000031, 335.3999939, 69.16999817, 400.4700012, 393.269989, 181.6000061, 319.6700134, 86.83000183, 895.3400269, 217.2400055, 110.25, 73.30000305, 69.54000092, 184.0599976, 63.95999908, 115.6200027, 739.9500122, 103.3000031, 99.5, 195.3800049, 3.579999924, 449.3599854, 183.8999939, 131.1900024, 213.9700012, 74.23999786, 175.2299957, 221.3699951, 333.7799988, 31.19000053, 11.75, 213.5, 63.13999939, 67.08999634, 142.3899994, Decimal('3.3'))]